<configuration>
    <system.webServer>

        <!-- indicates that the server.js file is a node.js application
        to be handled by the iisnode module -->

        <handlers>
            <add name="iisnode" path="src/Dominos_Edicion_Recordatorios_Garantias.js" verb="*" modules="iisnode" />
        </handlers>

        <rewrite>
            <rules>
                <rule name="all">
                    <match url="/*" />
                    <action type="Rewrite" url="src/Dominos_Edicion_Recordatorios_Garantias.js" />
                </rule>
            </rules>
        </rewrite>

    </system.webServer>
</configuration>