<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('parts/head.html')%>
</head>
<body class="bg-light">
    <%-include('parts/navbar.html')%>
    <br>
    <main class="container pt-5">
        <div class="row pt-4">
            <div class="col-6">
                <small>Palabra Clave</small>
                <input type="text" class="form-control form-control-sm" id="getpalabraclave">
            </div>
            <div class="col-2">
                <small>Calle</small>
                <input type="number" class="form-control form-control-sm" id="getcalle">
            </div>
            <div class="col-2">
                <small>Avenida</small>
                <input type="number" class="form-control form-control-sm" id="getavenida">
            </div>
            <div class="col-2">
                <small>kilometro</small>
                <input type="number" class="form-control form-control-sm" id="getkilometro">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <small>Departamento</small>
                <input type="text" class="form-control form-control-sm" id="getdepartamento">
            </div>
            <div class="col-3">
                <small>Zona o Municipio</small>
                <input type="text" class="form-control form-control-sm" id="getzonamunicipio">
            </div>
            <div class="col-3 pt-3">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-success" id="btn_Buscar"><i class="fas fa-search"></i> Buscar</button>
                    <button type="button" class="btn btn-outline-danger" id="btn_Vaciar"><i class="fas fa-trash-alt"></i> Vaciar</button>
                </div>
            </div>
            <div class="col-3 pt-3">    
                <button type="button" class="btn btn-outline-warning" id="btn_registrar_1"><i class="fas fa-edit"></i> Registrar 1</button>
            </div>
        </div>
    </main>
    <br>
    <div class="container-fluid">
        <table class="table table-striped table-hover table-sm table-bordered">
            <thead class="table bg-navbar text-center">
                <tr>
                    <th scope="col" >Tienda</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Zona o Municipio</th>
                    <th scope="col">Rango</th>
                    <th scope="col">Minimo</th>
                    <th scope="col">Garantia</th>
                    <th scope="col">Tiempo</th>
                    <th scope="col">Hora Limite</th>
                    <th scope="col">Comentarios</th>
                </tr>
            </thead>
            <tbody id="tbl_body"></tbody>
        </table>
    </div>
    <!-- Modal Registrar una nueva -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="bodalbody">
                </div>
                <div class="modal-footer">
                    <button id="btnguardarmodificaciones" class="btn btn-success" style="display: none;">Guardar cambios</button>
                    <button id="btnabilitarmodificaciones" class="btn btn-success" style="display: none;">Editar</button>
                    <button id="btndesabilitarmodificacion" class="btn btn-danger" style="display: none;">Cancelar</button>
                    <button id="btnregistraruno" class="btn btn-success" style="display: none;">Registrar 1</button>
                    <button id="btncancelarregistraruno" class="btn btn-danger" style="display: none;">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div style="position: fixed; min-height: 0px; bottom: 1%; right: 1%;" class="w-25" id="NotificacionesRecordatorios"></div>
    <%-include('parts/scripts.html')%>
    <script src="js/Edicion.js"></script>
</body>
</html>