<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('parts/head.html')%>
</head>

<body class="bg-light">
    <%-include('parts/navbar.html')%>
        <main class="pt-5 container-md">
            <div class="row pt-4">
                <div class="custom-file col-lg-5">
                    <div class="input-group">
                        <input type="file" class="form-control form-control-sm" id="my_file_input"  name="input-excel" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button type="button" id="btnPreSave" class="btn btn-outline-primary btn-sm" disabled><i class="fas fa-upload"></i></button>
                    </div>
                </div>
                <div class="col-5">
                    <select class="form-control chosen-js" id="getTienda">
                        <option value="0">--Seleccione una tienda--</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button type="button" id="btnDescarga" class="btn btn-outline-success btn-sm"><i class="fas fa-download"></i></button>
                </div>
            </div>
            <hr>
        </main>
        <br>
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="d-inline-block mb-2 text-dark">Vista previa de información</h5>
                <div class="container-fluid">
                    <table class="table table-responsive table-striped table-bordered table-sm" id="TablaGeneral">
                        <thead class="text-center text-white bg-dark">
                            <tr>
                                <th>Id</th>
                                <th>Tienda</th>
                                <th>Departamento</th>
                                <th>Zona Municipio</th>
                                <th>Rango</th>
                                <th>Palabra Clave</th>
                                <th>Calle -</th>
                                <th>Calle +</th>
                                <th>Avenida -</th>
                                <th>Avenida +</th>
                                <th>Kilometro -</th>
                                <th>Kilometro +</th>
                                <th>Minimo</th>
                                <th>Garantia</th>
                                <th>Tiempo</th>
                                <th>Hora Limite</th>
                                <th>Comentarios</th>
                                <th>Servicio</th>
                            </tr>
                        </thead>
                        <tbody id="tablebodygarantias"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="position: fixed; min-height: 0px; bottom: 1%; right: 1%;" class="w-25" id="NotificacionesRecordatorios"></div>
        <%-include('parts/scripts.html')%>
        <script src="js/Llenado.js"></script>
</body>

</html>