<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('parts/head.html')%>
</head>
<body class="bg-gris">
    <%-include('parts/navbar.html')%>
    <div class="pt-5"></div>
    <div class="pt-2"></div>
    <main class="container-lg pt-2">
        <div class="row pt-3">
            <div class="col-4">
                <small class="fw-bold">Tienda</small>
                <select id="id_Tienda" class="chosen-js form-control">
                    <option value="0">-- Seleccione Una Tienda --</option>
                </select>
            </div>
            <div class="col-5 pt-4">
                <input class="form-check-input" type="checkbox" id="chechTiendasBajas" onclick="VerTiendasBajas()">
				<label class="form-check-label" for="chechTiendasBajas"> Tiendas de Baja</label>
            </div>
            
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <small class="fw-bold">Tiempos</small>
                <select class="form-control form-control-sm" id="id_Tiempos" name="Id_Tiempo"></select>
            </div>
            <div class="col-sm-5">
                <small class="fw-bold">Motivo de tiempo</small>
                <div class="input-group mb-3" role="group">
                    <input type="text" class="form-control form-control-sm" id="Id_Motivo">
                    <div class="input-group-prepend">
                        <button class="btn btn-turquesa btn-sm fw-bold" id="btn_Motivo" name="Motivo">Guardar</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <small class="fw-bold">POS</small>
                <select id="POS" class="form-control form-control-sm" name="Id_Posmovil"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <small class="fw-bold">Comentario</small>
                <div class="input-group mb-3">
                    <textarea class="form-control" id="Id_Comentarios" cols="20" rows="3" maxlength="500"></textarea>
                    <button class="btn btn-turquesa btn-sm fw-bold" id="btn_Comentarios" name="Comentarios">Guardar</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h4>Historial</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button id="id_obtenerhistorial" class="btn btn-sm btn-success">Obtener</button>
                    </div>
                    <input type="date" id="id_date" class="form-control form-control-sm">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <table class="table table-sm table-striped text-center">
                    <thead class="table bg-navbar">
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col" style="width: 150px;">Usuario</th>
                            <th scope="col">Modificacion</th>
                        </tr>
                    </thead>
                    <tbody id="idTableHistorial"></tbody>
                </table>
            </div>
        </div>
    </main>
        <!-- Inicio Modal -->
    <div class="modal fade" id="Modal_Principal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tileModal"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="ModalBody"></div>
                <div class="modal-footer">
                    <span id="alertamensaje" class="text-danger text-center" style="display: none;"></span>
                    <button class="btn btn-success" id="idaplicarmodificaciones", style="display: none;">Aplicar</button>
                    <button class="btn btn-success" id="idcrearnuevatienda" style="display: none;">Crear</button>
                    <button class="btn btn-success" id="idrestaurarrecordatorios" style="display: none;">Restaurar Recordatorios</button>
                    <button class="btn btn-success" id="ideditarhorarios" style="display: none;">Editar</button>
                    <button class="btn btn-primary" id="idguardarcambioshorarios" style="display: none;">Guardar Cambios</button>
                    <button class="btn btn-secondary" id="idcancelaredicionhorarios" style="display: none;">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
        <!-- Fin Modal -->
    <div style="display: none;">
        <!--  Encabezado de Bitacora  -->
        <table id="tbl_encabezado_tienda">
            <thead>
                <tr>
                    <th scope="col">Tienda</th>
                    <th scope="col">Tiempo</th>
                    <th scope="col">Motivo</th>
                    <th scope="col">POS Movil</th>
                    <th scope="col">Comentario</th>
                    <th scope="col">Impulsar</th>
                </tr>
            </thead>
            <tbody id="tbody_encabezado"></tbody>
        </table>
        <!-- Tabla para faltantes en tienda -->
        <table id="tbl_Faltante_tienda">
            <thead>
                <tr>
                    <th scope="col">Tienda</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Producto Faltente</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody id="tbody_faltante"></tbody>
        </table>
    </div>
    <div style="position: fixed; min-height: 0px; bottom: 1%; right: 1%;" id="NotificacionesRecordatorios"></div>
    <%-include('parts/scripts.html')%>
    <script src="js/Recordatorios.js"></script>
</body>
</html>