.bg-gradient-blue {
  background: #0a5885;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c44f14, #0a5885);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c44f14, #0a5885); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
  
.bg-transparent-blue{
  background-color: #00000085;
}
  
.bg-navbar{
  background: #00C4B3;
  color: #c44c10;
}
.text-orange {
  --bs-text-opacity: 1;
  color: #c44c10;
}

.bg-naranja{
  background-color: #fd7a2e;
}


.btn-turquesa{
  color: #c44f14;
  background-color: #00C4B3;
  border-color: #00C4B3;
}

.btn-turquesa:hover {
  background-color: #00887d;
  border-color: #00C4B3;
  color: #bf4e15;
}

.bg-gris{
  background: #E5E5E5;
}