<div class="accordion" id="accordionExample">
    <div class="row pt-2">
        <div class="col-6">
            <!--Seccion de Pasteles-->
            <div class="card border-dark">
                <div class="card-header bg-anfora" id="headPasteles">
                    <h6 class="mb-0">
                        <button class="btn btn-link btn-sm text-center text-white collapsed" type="button" data-toggle="collapse" data-target="#collapsePasteles" aria-expanded="false" aria-controls="collapsePasteles">
                            Pasteles
                        </button>
                    </h6>
                </div>
                <div id="collapsePasteles" class="collapse" aria-labelledby="headPasteles" data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Producto</th>
                                    <th scope="col" style="width: 150px;"></th>
                                </tr>
                            </thead>
                            <tbody id="Seccion_Pasteles"></tbody><!--      Seccion de Pasteles         -->
                        </table>
                    </div>
                </div>
            </div>
            <!--Seccion de Pies-->
            <div class="card border-dark">
                <div class="card-header bg-anfora" id="headPie">
                    <h6 class="mb-0">
                        <button class="btn btn-link btn-sm text-center text-white collapsed" type="button" data-toggle="collapse" data-target="#collapsePie" aria-expanded="false" aria-controls="collapsePie">
                            Pies
                        </button>
                    </h6>
                </div>
                <div id="collapsePie" class="collapse" aria-labelledby="headPie" data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Producto</th>
                                    <th scope="col" style="width: 150px;"></th>
                                </tr>
                            </thead>
                            <tbody id="Seccion_Pies"></tbody><!--      Seccion para Pies           -->
                        </table>
                    </div>
                </div>
            </div>
            <!--Seccion de Snacks-->
            <div class="card border-dark">
                <div class="card-header bg-anfora" id="headsnacks">
                    <h6 class="mb-0">
                        <button class="btn btn-link btn-sm text-center text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseSnacks" aria-expanded="false" aria-controls="collapseBatidos">
                            Snacks
                        </button>
                    </h6>
                </div>
                <div id="collapseSnacks" class="collapse" aria-labelledby="headsnacks" data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Producto</th>
                                    <th scope="col" style="width: 150px;"></th>
                                </tr>
                            </thead>
                        <tbody id="Seccion_Snacks"></tbody><!--         Seccion para Batidos          -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>