<nav class="py-2 border-bottom bg-navbar fixed-top">
    <div class="container-lg d-flex flex-wrap">
        <a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <img src="../img/Dominos.png" width="40" height="40" class="d-inline-block align-top" alt="">
            <span class="fs-3 text-white">&nbsp; Dominos - <%=page%></span>
        </a>
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0 dropdown">
              <a href="#" class="d-block link-light  text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="fw-bold text-white"><i class="fa fa-user"></i>&nbsp;camazariegos</span>
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <%if(rol >= 13){%>
                    <li><a class="dropdown-item" href="/Llenado"><i class="fas fa-plus"></i>&nbsp; Llenado</a></li>
                    <li><a class="dropdown-item" href="/Edicion"><i class="fas fa-edit"></i>&nbsp; Modificacion</a></li>
                <%}%>
                <li><a class="dropdown-item" href="/Recordatorios"><i class="fas fa-search"></i> &nbsp;Recordatorios</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" href="/"><i class="fa fa-sign-out-alt"></i>&nbsp; Cerrar Sesion</a></li>
              </ul>
            </div>
          </div>
    </div>
  </nav>